.App {
  text-align: center;
  background-image: url(https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Simple-Minimalist-Background-Image.jpg);
  color:"red";
}

.App-logo {
  height: 50vmin;
}

.foot{
  text-align: center;
  background-color: #17d427;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #17d427;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #f14c22;
}


.cardDiv {
  margin: auto;
  width: 50%;
}